<ion-header [translucent]="true">
  <ion-toolbar>
  
    <div  style="float: left; padding-top: 10px; padding-left: 10px;">
      Заявки
    </div>
     
    <ion-button  routerLink="/tabs/order/new" style="float: right"  shape="round">
      Добавить заявку 
    </ion-button>
      
    


  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Order</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of (orders | async)">
      <ion-label>{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="50px" (ionInfinite)="onScrollDown($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">


      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
 
 
</ion-content>
