{% extends 'layout.html' %}
{% block carousel %} {% endblock %}
{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 layout_padding_2">
                {% if is_free %}
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2>{{ lesson.title }}</h2>

                    </div>
                    <div class="text_align_right">
                        <a href="{{ lesson.course.get_absolute_url }}">Назад</a>
                     </div>
                    {% for topic in lesson.topic_set.all %}
                        <div class="full"> 
                            <div style="text-align: center;">
                            {{topic.video_tag}}
                            </div>

                            {{ topic.content }}

                        </div>   
                    {% endfor %} 
               
                </div>
                {% else %}
                    <div class="full">
                        <h2>{{ lesson.title }}</h2>
                            {% for topic in lesson.topic_set.all %}
                                <div class="full"> 
                                    {{ topic.short_content | safe }}
                                </div>   
                            {% endfor %}
                    </div>

                  <div class="full">
                    <div class="alert alert-danger" role="alert">
                        Для просмотра полного урока его необходимо 
                        <a href="{% url 'pay' lesson_id=lesson.id  %}">оплатить</a>.
                     </div>
                    <a href="{% url 'pay' lesson_id=lesson.id  %}" class="btn btn-primary btn-lg">
                        Перейти к оплате
                    </a>
                </div>
                {% endif %}

                <div class="text_align_right">
                    <a href="{{ lesson.course.get_absolute_url }}">Назад</a>
                 </div> 
            </div>
        </div>        
    </div>
</div>


<div class="section contact_section" style="background:#12385b;">
    <div class="container">
        <div class="row">
            <div class="layout_padding col-lg-12 col-md-12 col-sm-12">
                <div class="contact_form">
                    <span class="white-title">Задать вопрос, прокомментировать.</span>
                    <form action="{% url 'save_comment' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="lesson_id" value="{{ lesson.id }}" />
                    <fieldset>
                        
                        <div class="full field">
                            <textarea placeholder="Сообщение" name="message"></textarea>
                        </div>
                        <div class="full field">
                            <div class="center"><button>Отправить</button></div>
                        </div>
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}