{% extends 'base.html' %}

{% block content %}

<div class="card-body">
  <h6 class="heading-small text-muted mb-4">Курсы</h6>
      
        <div class="row">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Количество уроков</th>
                
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
              <tr>
                <td scope="col">{{ forloop.counter }} </td>
                <td scope="col"><a class="course-title" href="#">{{ course.name }}</a>
                
                  <table class="table">
                   
                    <tbody>
                      {% for lesson in course.lessons %}
                      <tr>
                        <td class="small" scope="col">{{ lesson.number }}</td>
                        <td class="small" scope="col small">{{ lesson.video_icon }}</td>
                        <td scope="col">
                          <a href="{% url 'show_lesson' id=lesson.id %}">{{ lesson.title }} </a>
                        </td>
                       
                      </tr>
                      {% endfor %}
                    </tbody>
                    </table>
                
                
                </td>
                <td scope="col">12</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>

      
</div>

{% endblock %}

{% block stylesheets %}
  <style>
    .course-title {
      font-size: 20px;
    }

    td.small {
      width: 40px;
      padding-top: 15px;
      padding-right: 5px;
      padding-left: 5px;
    }
    .txt-white {
      color: white !important;
    }

  </style>
{% endblock %}