{% extends 'base.html' %}

{% block content %}

<div class="card-body">
  <h6 class="heading-small text-muted mb-4">Мои покупки</h6>
        {% if payments %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Название урока</th>
                
              </tr>
            </thead>
            <tbody>
             
                {% for payment in payments %}
                <tr>
                    <th scope="row">{{ payment.id }}</th>
                    <td>
                      <p>{{ payment.lesson.course }}</p>
                      <a class="lesson-title" href="{% url 'show_lesson' id=payment.lesson.id %}">{{ payment.lesson }}</a>
                      {% if payment.is_paid %}
                      <p>
                        Cтатус:<span style="color: green"> доступен </span>
                      </p>
                      {% else %}
                      <p>
                       Cтатус:<span style="color: red"> недоступен </span>
                      </p>
                      <p>
                      <a href="{% url 'pay' lesson_id=payment.lesson.id  %}" >
                        купить за 2 кредита
                    </a></p>

                      {% endif %}

                    </td>
                    
                    <td>

                    </td>
        
                </tr>
                {% endfor %}
              
            </tbody>
          </table>
          {% else %}
            <div class="alert alert-danger" role="alert">
                У вас нет купленных уроков.
            </div>
          {% endif %}       
</div>

{% endblock %}
