{% extends 'base.html' %}

{% block content %}

<div class="card-body">
  <h6 class="heading-small text-muted mb-4">Просмотр урока: {{ lesson.title }}
    <div style="text-align: right;">
      <a href="{% url 'cabinet_index' %}">Вернуться на главную</a>
     </div>

  </h6>
      
    {% if is_free %}
      {% for topic in topics %}
        <div class="full" id="lesson-content"> 
            <div style="text-align: center;" class="full">
            {{topic.video_tag}}
            </div>

            {{ topic.content }}

        </div>   
      {% endfor %} 
    {% else %}
    {% include 'includes/pay_block.html' %}
      <div class="full" id="lesson-content">
        <div class="full">
            <h2>{{ lesson.title }}</h2>
                {% for topic in topics %}
                    <div class="full"> 
                        {{ topic.short_content | safe }}
                    </div>   
                {% endfor %}
        </div>

        {% include 'includes/pay_block.html' %}
      </div>
    {% endif %}

</div>

{% endblock %}

{% block stylesheets %}
 <style>
   #lesson-content img {
     width: 100%;
   }

   #lesson-content video {
      width: 100%;
   }
   pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

#lesson-content {
  color: black;
}

 </style>
{% endblock %}