/** ADD YOUR AWESOME CODES HERE **/

.header-title {
    font-size: 30px;
}

.container {
    padding-bottom: 10px;
}

.lessons-list li a{
    font-size: 20px;
}

pre {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 6px;
}