{% extends 'layout.html' %}

{% block carousel %} {% endblock %}



{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2><span>About</h2>
                    </div>
                    <div class="full">
                    
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}