{% extends 'layout.html' %}

{% block carousel %} {% endblock %}



{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 layout_padding_2">
                <div>
                    <div class="heading_main text_align_left">
                       <h2>Об авторе.</h2>
                    </div>
                    
                    <div>
                        <img align="right" src="/static/images/me.jpg" />
                        <p>Добро пожаловать!</p> 
                        <p>Меня зовут Дмитрий Жариков, я автор этого сайта и являюсь 
                        разработчиком веб приложений с многолетним опытом работы.</p>
                        
                        <p>На моем счету множество проектов различной степени сложности, 
                        написанных на PHP, Python и Javascript.
                        Мои проекты так же включают технологии для мобильных платформ.</p>
                        
                        <p>Кроме разработки, я так же преподаю программирование 
                        и веду онлайн курсы, посвященные языкам Python и Javascript.</p>
                        
                        <h2>Цель проекта.</h2>
                        
                        <p>Этот ресурс ставит целью дать людям возможность научиться программированнию 
                        и освоить приемы эффективной разработки на разных вэб платформах.
                        Материал оформлен в виде уроков,
                        в которых я попытался собрать весь мой накопленный опыт 
                        и как то его систематизировать.</p>
                        
                        <p>Уроки и содержит теоретическую и практическую части.</p>
                        
                        <p>По мере возможности я буду публиковать видео-демонстрации.</p>
                        
                        <p>Буду рад услышать любые отзывы, пожелания и замечания.</p>
                        
                        <h3>Контактная информация.</h3>
                        <p> ЧП Жариков Д.В.</p>
                        <p>телефон: +380507750630</p>
                        <p>email: <em>zdimon77@gmail.com</em></p>
                        <p>skype: <em>zdimon77</em></p>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}