{% extends 'layout.html' %}
{% block carousel %} {% endblock %}
{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row course-item">
            <div class="col-md-9">
                <img align="right" class="myimg" src="/static/images/me.jpg" />
                    <span style="margin-left: 10px;">Привет.</span>
                    Меня зовут Дмитрий Жариков и я уже много лет практикую веб-разработку. 
                    На этом сайте я пытаюсь систематизировать свои знания и опыт в виде курсов.
                    Упор я делаю на практику и в основном материал оформлен в виде руководств.
                    Помимо онлайн курсов, я так же провожу индивидуальные уроки по PHP, Python и Javascript 
                    и буду рад помочь как в освоении веб-программирования, 
                    так и в разработке веб-сайтов на этих языках.
                    <p>
                       
                    </p>
            </div>
            <div class="col-md-3">
                <a href="http://t.me/zdimonClub" target="_blank">
                    <img width="50" src="/static/images/telega.png" />
                    Мой телеграм канал
                </a>
                 <p> Задавайте вопросы.</p>
                 <p> Получайте свежие уроки. </p>
            </div>
        </div>     
        
        <div class="row course-item">
            <div class="col-md-12">
                <h3>Последние посты.</h3>
                <div class="row">
					<div class="col-md-6">
		                {% for t in last_topics %}
		                    
		                        <div class="row">
		                            <div class="col-md-4">
		                            {{ t.lesson.get_image }}
		                            </div>
		                            <div class="col-md-8">
		                            <p> Курс: 
		                                <a  href="{{ t.lesson.course.get_absolute_url }}">
		                                        {{ t.lesson.course.name }}
		                                </a>
		                            </p>
		                                <a  href="{{ t.lesson.get_absolute_url }}">
		                                        {{ t.title }}
		                                </a>
		                                <p> {{ t.lesson.desc }}</p>
		                            </div>
		                        </div>
		                    
		                {% endfor %}
					</div>

					<div class="col-md-6">
                        {% for t in last_topics2 %}
                            
                                <div class="row">
                                    <div class="col-md-4">
                                    {{ t.lesson.get_image }}
                                    </div>
                                    <div class="col-md-8">
                                    <p> Курс: 
                                        <a  href="{{ t.lesson.course.get_absolute_url }}">
                                                {{ t.lesson.course.name }}
                                        </a>
                                    </p>
                                        <a  href="{{ t.lesson.get_absolute_url }}">
                                                {{ t.title }}
                                        </a>
                                        <p> {{ t.lesson.desc }}</p>
                                    </div>
                                </div>
                            
                        {% endfor %}
					</div>

                </div>
                
            </div>
        </div>
        <!-- 
        <div class="row course-item">
            <div class="col-md-5">
                <h3>Последние посты.</h3>
                {% for t in last_topics %}
                    <div class="row">
                        <a  href="{{ t.lesson.get_absolute_url }}">
                                {{ t.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-7">
                <h3>Последние темы уроков.</h3>
                {% for l in last_lessons %}
                    <div class="row">
                        <a  href="{{ l.course.get_absolute_url }}">
                            {{ l.course }}
                        </a>
                        &nbsp; | &nbsp;
                        <a  href="{{ l.get_absolute_url }}">
                          {{ l.title }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        -->
        <h3>Курсы</h3>
        {% for course in courses %}
        <div class="row course-item">
            <div class="col-md-7">
                <div class="full">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="{{ course.image.url }}" alt="#" />
                        </div>
                        <div class="col-md-9">
                            <div class="heading_main text_align_left">
                            <h2 class="course-title"><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h2>
                            </div>
                            <div class="full">
                            <p>{{ course.desc | safe}}</p>
                            </div>
                            <div class="full">
                                <strong>Уроков: {{ course.count_lessons }}</strong>


                                

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="full">
                    
                    
                    {% for l in course.get_last_lessons %}
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{{ l.get_absolute_url }}">
                                 {{ l.get_image }}  
                            </a>
                        </div>
                        <div class="col-md-9">
                            <a href="{{ l.get_absolute_url }}">
                                {{l.number}}. 
                                {% if l.has_video %}
                                    <span class="green"> 
                                        <img class="image-fluid" src="/static/images/video.png"> 
                                    </span>
                                {% endif %}
                                {{ l }}</a>
                            <p>{{ l.desc }}</p>
                        </div>
                        
                    </div>
                    
                {% endfor %}
                </div>
            </div>  
        </div>
        {% endfor %}

            <div class="row course-item">
                <div class="col-md-5">
                    <h3>Работы студентов</h3>
                    <p>Фронтенд:</p>
                    <p>
                        <a href="http://quiz.webmonstr.com" target="_blank"> 
                            Чат-викторина (React+Django). 
                        </a>
                    </p><p>
                        <a href="http://bj.webmonstr.com" target="_blank"> 
                            Карточная игра Блек-Джек (Angular+NodeJs).
                        </a>
                    </p>
                    <p>Бекенд:</p>
                    <p>
                    <a href="http://quizapi.webmonstr.com" target="_blank"> 
                        REST API для викторины.
                    </a>   
                    </p>
                    <p>        
                    <a href="http://taxiapi.webmonstr.com" target="_blank"> 
                        REST API для программы "Попутчик".
                    </a>  
                    </p>  
                    
                    <p>        
                        <a href="https://t.me/WezomPythonBot" target="_blank"> 
                            Телеграм бот. Игра в карты.
                        </a>  
                        </p>                      
                    
                </div>
                <div class="col-md-7">
                    <h3>Теги</h3>
                    <div class="tag-div">
                     {% for tag in tags %}
                       <a href="{% url 'show-tag' tag=tag.name%}">{{ tag }}</a>
                     {% endfor %}
                    </div>

                </div>
            </div>
    </div>

 
</div>



{% endblock %}
