{% extends 'layout.html' %}
{% block carousel %} {% endblock %}
{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row course-item">
            <div class="col-md-9">
                <img align="right" class="myimg" src="/static/images/me.jpg" />
                    <span style="margin-left: 10px;">Привет.</span>
                    Меня зовут Дмитрий Жариков и я являюсь практикующим веб-разработчиком уже более 20 лет. 
                    На этом сайте я попытался выложить и систематизировать свои знания и опыт в виде курсов.
                    Причем основной упор я сделал на практический аспект и в основном материал оформлен в виде руководств, 
                    однако есть и курсы для новичков.
                    Помимо онлайн курсов, я так же провожу индивидуальные уроки по PHP, Python и Javascript 
                    и буду рад помочь как в освоении веб-программирования, 
                    так и в разработке веб-сайтов на этих языках.
                    <p>
                       
                    </p>
            </div>
            <div class="col-md-3">
                <a href="http://t.me/zdimonClub" target="_blank">
                    <img width="50" src="/static/images/telega.png" />
                    Мой телегам канал
                </a>
                 <p> Задавайте вопросы.</p>
                 <p> Получайте свежие уроки. </p>
            </div>
        </div>     
        
            <div class="row course-item">
                <div class="col-md-9">
                    <h3>Работы студентов</h3>
                    <a href="http://quiz.webmonstr.com" target="_blanck"> 
                        Чат-викторина. 
                    </a>
                    <a href="http://bj.webmonstr.com" target="_blanck"> 
                        Карточная игра Блек-Джек.
                    </a>
                </div>
            </div>   
        {% for course in courses %}
        <div class="row course-item">
            <div class="col-md-7">
                <div class="full">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-fluid" src="{{ course.image.url }}" alt="#" />
                        </div>
                        <div class="col-md-9">
                            <div class="heading_main text_align_left">
                            <h2 class="course-title"><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h2>
                            </div>
                            <div class="full">
                            <p>{{ course.desc | safe}}</p>
                            </div>
                            <div class="full">
                                <strong>Уроков: {{ course.count_lessons }}</strong>


                                

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-5">
                <div class="full">
                    
                    
                    {% for l in course.get_last_lessons %}
                    <div class="row">
                        <div class="col-md-3">
                            <a href="{{ l.get_absolute_url }}">
                                 {{ l.get_image }}  
                            </a>
                        </div>
                        <div class="col-md-9">
                            <a href="{{ l.get_absolute_url }}">
                                {{l.number}}. 
                                {% if l.has_video %}
                                    <span class="green"> 
                                        <img class="image-fluid" src="/static/images/video.png"> 
                                    </span>
                                {% endif %}
                                {{ l }}</a>
                            <p>{{ l.desc }}</p>
                        </div>
                        
                    </div>
                    
                {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}
