{% extends 'layout.html' %}
{% block carousel %} {% endblock %}
{% block content %}

<div class="section margin-top_50">
    <div class="container">
        {% for course in courses %}
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2>{{ course.name }}</h2>
                    </div>
                    <div class="full">
                      <p>{{ course.desc | safe}}</p>
                    </div>
                    <div class="full">
                       <a class="hvr-radial-out button-theme" href="{{ course.get_absolute_url }}">Подробней</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="full">
                    <img src="{{ course.image.url }}" alt="#" />
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}