<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    
    <title>
        {% block meta_title %}
           Онлайн курсы веб-программирование. Python Javascript PHP Django Angular Typescript.
        {% endblock %}
    </title>
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="Жариков Дмитрий">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/static/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/static/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/custom.css" />

    <link rel="stylesheet"
    href="/static/css/dracula.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
  
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <!-- LOADER -->

    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar header-nav navbar-expand-lg container-fluid">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
					<img src="/static/images/logo.png" alt="image">
					<span class="header-title"> IT-РепетITоr </span>
				</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                    <ul class="navbar-nav">

                        
                        <li><a class="nav-link" href="{% url 'about-link' %}">Обо мне</a></li>
                        
                        <!--
                            <li><a class="nav-link" href="{% url 'discussion' %}">Обсуждения</a></li>
                        -->
                        
                        <li><a class="nav-link" href="{% url 'map' %}">Все курсы</a></li>

                        <li><a class="nav-link" href="{% url 'articles' %}">Статьи</a></li>
                        
                        {% if user.is_authenticated %}
                        <li><a class="nav-link" href="{% url 'cabinet_index' %}">Мой кабинет</a></li>
                        <li>
                            <a class="nav-link" id="logout" href="{% url 'logout' %}" class="">Выход</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="nav-link" href='{% url "social:begin" "google-oauth2" %}'>
                                Вход <img height="30" src="/static/images/google.png" />
                            </a>
                        </li>
                        {% endif %}
                        
                    </ul>
				</div>
				<!--
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Search">
                    <a class="search-btn">
                        <img src="/static/images/search_icon.png" alt="#" />
                    </a>
				</div>
				-->
            </div>
        </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    {% block carousel %}
    <div class="ulockd-home-slider">
        <div class="container-fluid">
            <div class="row">
                <div class="pogoSlider" id="js-main-slider">
                    <div class="pogoSlider-slide" style="background-image:url(/static/images/banner_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span span class="theme_color">You only have know one thing</span><br>you can learn anything</h3>
                                        <h4>Free Educations</h4>
                                        <br>
                                        <div class="full center">
										    <a class="contact_bt" href="courses.html">Start a Course</a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pogoSlider-slide" style="background-image:url(/satic/images/banner_img.png);">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="slide_text">
                                        <h3><span span class="theme_color">You only have know one thing</span><br>you can learn anything</h3>
                                        <h4>Free Educations</h4>
                                        <br>
                                        <div class="full center">
										    <a class="contact_bt" href="courses.html">Start a Course</a>
										</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .pogoSlider -->
            </div>
        </div>
    </div>
    {% endblock %}


    {% if messages %}
        {% for message in messages %}
            <div class="section" style="margin-top: 100px;">
                <div class="container">
                    <div class="full">
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}



    {% block content %} 
    

    
    {% endblock %}

	
    <footer class="footer-box">
        <div class="container">
		
		   <div class="row">
				
		      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
			     <div class="footer_blog">
				    <div class="full margin-bottom_30">
					   <h3>Формы оплаты.</h3>
					 </div>
					 <div class="full white_fonts">
					    <img src="/static/images/liq.png" />
					 </div>
				 </div>
			  </div>
			  
			  

				 
				 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				 <div class="footer_blog full white_fonts">
						     <h3>Рассылка</h3>
							 <p>Получайте уведомления о новых курсах или уроках.</p>
							 <div class="newsletter_form">
							    <form action="{% url 'subscribe' %}" method="POST">
                                    {% csrf_token %}
                                    {% if user.is_authenticated %}
                                    <input type="email" placeholder="email" name="email" value="{{ user.email }}" />
                                    {% else %}
                                        <input type="email" placeholder="email" name="email" required />
                                    {% endif %}
								   <button>Подписаться</button>
								</form>
							 </div>
						 </div>
					</div>	 
			  
			  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
				 <div class="footer_blog full white_fonts">
						     <h3>Контакты</h3>
							 <ul class="full">
							   <!-- <li><img src="/static/images/i5.png"><span>London 145<br>United Kingdom</span></li> -->
							   <li><img src="/static/images/i6.png"><span>zdimon77@gmail.com</span></li>
                               <li><img src="/static/images/i7.png"><span>+3080507750630</span></li>
                               <li>Telegram:&nbsp;&nbsp;<span>@zdimon77</span></li>
                               <li>Skype:&nbsp;&nbsp;<span>zdimon77</span></li>
							 </ul>
						 </div>
                    </div>	 
                    
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                        <div class="footer_blog full white_fonts">
                                    <h3>Ссылки</h3>
                                    <ul class="full">
                                      
                                      <li><a href="{% url 'oferta' %}"> ПУБЛИЧНАЯ ОФЕРТА </a></li>
                                      <li><a href="{% url 'delivery' %}"> ДОГОВОР О ДОСТАВКЕ </a></li>
                                      <li><a href="{% url 'confident' %}"> ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ </a></li>
                                    </ul>
                                </div>
                           </div>	 
                        </div>
                    </div>
			  
		   </div>
		
        </div>
    </footer>
    <!-- End Footer -->

    {% include 'copyright.html' %}

    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/jquery.pogo-slider.min.js"></script>
    <script src="/static/js/slider-index.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/form-validator.min.js"></script>
    <script src="/static/js/contact-form-script.js"></script>
    <script src="/static/js/isotope.min.js"></script>
    <script src="/static/js/images-loded.min.js"></script>
    <script src="/static/js/custom.js"></script>


    {% block customjs %} {% endblock %}
    <script>hljs.initHighlightingOnLoad();</script>
</body>

</html>