{% extends 'layout.html' %}
{% block carousel %} {% endblock %}
{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-12 layout_padding_2">
                {% if is_free %}
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2>{{ lesson.title }}</h2>

                    </div>
                    <div class="text_align_right">
                        <a href="{{ lesson.course.get_absolute_url }}">Назад</a>
                     </div>
                    {% for topic in lesson.topic_set.all %}
                        <div class="full"> 
                            
                            {{topic.video_tag}}

                            {{ topic.content }}

                        </div>   
                    {% endfor %} 
               
                </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                       Для просмотра урока его необходимо оплатить.
                  </div>
                {% endif %}
                <div class="full center">
                    <a href="{% url 'pay' lesson_id=lesson.id  %}" class="btn btn-primary btn-lg">
                        Перейти к оплате
                    </a>
                </div>
                <div class="text_align_right">
                    <a href="{{ lesson.course.get_absolute_url }}">Назад</a>
                 </div> 
            </div>
        </div>        
    </div>
</div>

{% endblock %}