{% extends 'layout.html' %}

{% block carousel %} {% endblock %}



{% block content %}

<div class="section margin-top_50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 layout_padding_2">
                <div class="full">
                    <div class="heading_main text_align_left">
                       <h2>Вход</h2>
                    </div>
                </div>

            </div>
            <div class="full center">
                <a class="btn btn-primary btn-lg" href='{% url "social:begin" "google-oauth2" %}'>
                    Войти через google
                </a>
            </div>

            <div class="full center" style="padding-top: 10px;">
                <div class="alert alert-danger" role="alert">
                    Для просмотра страницы нужно авторизоваться.
                </div>
            </div>

            
        </div>
    </div>
</div>

{% endblock %}