<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="order">
      <ion-icon src="static/front_dist/mobi/svg/checkmark-circle-sharp.svg"></ion-icon>
      <ion-label>Спрос</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="offer">
      <ion-icon src="static/front_dist/mobi/svg/flag-sharp.svg" ></ion-icon>
      <ion-label>Предложение</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="static/front_dist/mobi/svg/settings.svg"></ion-icon>
      <ion-label>Настройки</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registration" *ngIf="!isAuth" >
      <ion-icon src="static/front_dist/mobi/svg/body-sharp.svg"></ion-icon>
      <ion-label>Регистрация</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="doLogout()" *ngIf="isAuth">
      <ion-icon src="static/front_dist/mobi/svg/exit-sharp.svg"></ion-icon>
      <ion-label>Выход</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
